*{
    margin: 0;
    padding: 0;
}
.Heading{
    text-align: center;
    margin-bottom: 20px;
}
#input{
    margin: auto;
    padding: auto;
    display: flex;
    text-align: center;
}
.container2{
    display: grid;
    text-align: center;

    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows:  ;
    padding: 20px;
    height: 100px;

    justify-content: center;
}
.button{
    display: inline-block;
    background-color: aqua;
    border: 2px solid lightskyblue;
    border-radius: 4px;
    height: 40px;
    width: 30px;
    margin: 2px;
}
.button .item-+{
    padding: 100px;
}
