*{
    margin: 0;
    padding: 0;
}
.Heading{
    text-align: center;
    padding: 10px;
}
.container{
    display: flex;
    background-color: violet;
    
}
.input{
    height: 20px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding: 0.3.rem;
    margin-bottom: 8px;
}
/* .ms-auto{
    margin: auto;
} */
.flex{
    display: flex;
}
.flex-col{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    text-align: center;
    justify-content: center;
}
.equal-size{
    padding: 20px 10px;
}
.diff_size{
    /* align-items: stretch; */
    /* padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px; */
    height: 160px;
    width: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.diff_size0{
    padding: 20px;
    padding-left: 48.5px;
    padding-right: 40px;
}
.top-mar{
    margin-left: 0px;
    margin-top: 4px;
}
